<div class="row">
  <button class="btn btn-primary" (click)="showForm()">Add new food</button>

  <form (ngSubmit)="submitForm(addFood)" [hidden]="show" #addFood>
    <div class="form-group">
    <label for="food-name" class ="control-label col-md-3">Food name: </label>
      <div class="col-md-9">
        <input type="text" name="newFoodName" [(ngModel)]="newFoodName" class="form-control">
      </div>
    </div>
    <br>
    <div class="form-group">
    <label for="food-calories" class ="control-label col-md-3">Calories: </label>
      <div class="col-md-9">
        <input type="text" name="newFoodCalories" [(ngModel)]="newFoodCalories" class="form-control">
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="food-image" class ="control-label col-md-3">Upload image (paste URL):</label>
      <div class="col-md-9">
        <input type="text" name="newFoodImage" [(ngModel)]="newFoodImage" class="form-control">
      </div>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Add Food</button>
  </form>
</div>
